@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  #root {
    @apply h-auto relative;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-y-scroll;
  }
  html {
    @apply antialiased text-sm xs:text-base 2xl:!text-lg;
  }

  html.switching-theme * {
    transition: none !important;
  }

  html {
    color-scheme: light;
  }

  html.dark {
    color-scheme: dark;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-5xl 2xl:max-w-6xl p-6 relative w-full;
  }

  .prose {
    @apply dark:prose-invert;
  }
}

pre {
  @apply !bg-slate-800 dark:!bg-neutral-900;
}

pre code.hljs {
  @apply block overflow-x-auto p-2 md:p-4;
}

code.hljs {
  @apply py-0.5 px-1;
}

.hljs {
  @apply text-slate-200 bg-slate-800 dark:!bg-neutral-900;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  @apply text-rose-400;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  @apply text-purple-400;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  @apply text-blue-300;
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  @apply text-blue-200;
}

.hljs-built_in,
.hljs-symbol {
  @apply text-orange-300;
}

.hljs-code,
.hljs-comment,
.hljs-formula {
  @apply text-slate-400;
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  @apply text-green-300;
}

.hljs-subst {
  @apply text-slate-300;
}

.hljs-section {
  @apply text-blue-600 font-bold;
}

.hljs-bullet {
  @apply text-orange-300;
}

.hljs-emphasis {
  @apply text-slate-300 italic;
}

.hljs-strong {
  @apply text-slate-300 font-bold;
}

.hljs-addition {
  @apply text-green-200 bg-green-950;
}

.hljs-deletion {
  @apply text-rose-100 bg-rose-900;
}

.prose details summary > * {
  @apply hover:cursor-pointer select-none;
}
.prose details summary {
  @apply w-max;
}
